
.tablaprecios
{   
    border-collapse: separate;
    border-spacing: 10px 0px;
    font-size: 18px;
    color:$colorbarra;
    font-family: $fuenteprincipal;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.tdtitulo
{
    font-weight: bolder;
    font-size: 20px;
    text-align: center; 
}

td
{
    width: 300px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

tr
{
    border: $colorbarra solid;
    
}
